@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@mixin big-title {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 56px;
	line-height: 57px;
	@include media(s) {
		font-size: 24px;
		line-height: 32px;
	}
}
@mixin second-big-title {
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 56px;
	line-height: 57px;
	@include media(s) {
		font-size: 24px;
		line-height: 32px;
	}
}

@mixin paragraph {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: $cinza-09;
	@include media(s) {
		font-size: 16px;
		line-height: 24px;
	}
}
@mixin paragraph-end {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
}
@mixin paragraph-end-bold {
	font-family: "Inter", sans-serif;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
}

@mixin option {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}
@mixin option-text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}
@mixin question {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	@include media(s) {
		font-size: 24px;
		line-height: 30px;
	}
}
@mixin question-bold {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	@include media(s) {
		font-size: 24px;
		line-height: 30px;
	}
}

@mixin button {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}
