$cinza-01: #e4e4e4;
$cinza-02: #d2d2d2;
$cinza-03: #bcbcbc;
$cinza-04: #a6a6a6;
$cinza-05: #8f8f8f;
$cinza-06: #797979;
$cinza-07: #656565;
$cinza-08: #515151;
$cinza-09: #3d3d3d;
$cinza-10: #282828;
$cinza-11: #181818;
$cinza-12: #080808;
$amarelo: #b5833b;
